/* Estilos para dispositivos móviles primero */
@media (max-width: 576px) {
    h1, h2, h3 {
        font-size: 24px;
    }
}

/* Estilos para tabletas */
@media (min-width: 577px) and (max-width: 768px) {
    h1, h2, h3 {
        font-size: 28px;
    }
}

/* Estilos para PC */
@media (min-width: 769px) {
    h1, h2, h3 {
        font-size: 32px;
    }
}