body {
    font-family: "Prompt", sans-serif;
}

/* Personalización del Navbar */
.navbar .mx-auto {
    text-align: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-item {
    margin: 0 10px;
}


/* Estilo para el input de búsqueda */
.form-control {
    border-radius: 20px 0 0 20px;
    border: 2px solid #D8BFD8; /* Color del borde */
}

.input-group-append .input-group-text {
    border-radius: 0 20px 20px 0;
    border: 2px solid #D8BFD8; /* Color del borde */
    background-color: #f8f9fa; /* Color de fondo */
}

.input-group-text i {
    color: #333; /* Color del ícono */
}

.input-group {
    width: 250px; /* Ancho del buscador */
}

/* Catálogo */
.card {
    text-align: center;
}

/* Sección "Testimonios" */
.testimonios h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.testimonial {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}

.testimonial:hover {
    transform: scale(1.05);
}

.testimonial-content {
    border-bottom: 1px solid #ddd;
}

.testimonial-content p {
    font-size: 1.1rem;
    color: #555;
}

.testimonial-author {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

.testimonial-author img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-author p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

/* Responsive Design */

/* Estilos para dispositivos móviles primero */
@media (max-width: 576px) {
    h1, h2 {
        font-size: 24px;
    }
}

/* Estilos para tabletas */
@media (min-width: 577px) and (max-width: 768px) {
    h1, h2 {
        font-size: 28px;
    }
}

/* Estilos para PC */
@media (min-width: 769px) {
    h1, h2 {
        font-size: 32px;
    }
}
